@page "/"

@inject IStringLocalizer<Home> L

@implements IAsyncDisposable

@inject TimeOnPageTracker TimeTracker



<PageTitle>@L["PageTitle"]</PageTitle>


<div id="content">
    <Header></Header>
    <About></About>
    <Specializations></Specializations>
    <Skills></Skills>
    <Experience></Experience>
    <Roadmap></Roadmap>
    <Contact></Contact>
    <Footer></Footer>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await TimeTracker.StartTracking(L["PageTitle"]).ConfigureAwait(false);
    }


    public async ValueTask DisposeAsync()
    {
        await TimeTracker.EndTracking();
    }

}
