<div class="section px-3 px-lg-4 pt-5" id="experience">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center" style="cursor: pointer" @onclick="ToggleDiv">Experience</h2>
        </div>
        <div class="row @_toggleClass">
            <!-- Frontend Development -->
            <div class="col-md-6">
                <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">Frontend Development</h3>
                            </div>
                            <img src="images/services/html.svg" width="48" height="48"
                                 alt="Frontend Development"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">
                        <p>I am proficient in Angular and TypeScript, with expertise in building dynamic, responsive,
                            and
                            modular frontends.
                        </p>
                        <p>I have
                            experience in state management, component-based development, and integrating APIs with
                            frontend
                            applications..
                        </p>
                    </div>
                </div>
            </div>

            <!-- Backend Development -->
            <div class="col-md-6">
                <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">Backend Development</h3>
                            </div>
                            <img src="images/services/dotnet.svg" width="48" height="48"
                                 alt="Backend Development"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">
                        <p>I have extensive experience in backend development using .NET Core and .NET Framework,
                            specializing
                            in RESTful API
                            design, Microservices architecture, and scalable backend solutions.
                        </p>

                        <p>My expertise includes ASP.NET Core Web API, Minimal
                            APIs, Entity Framework Core, Dapper, and gRPC, ensuring high-performance applications. I am
                            well-versed in design
                            patterns (SOLID, DDD) and clean architecture, making maintainable and efficient codebases.
                        </p>

                        <p>I am well-versed in design patterns (SOLID, DDD) and clean architecture, making maintainable
                            and
                            efficient codebases.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Database Management -->
            <div class="col-md-6">
                <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">Database Management</h3>
                            </div>
                            <img src="images/services/database.svg" width="48" height="48"
                                 alt="Database Management"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">

                        <p>I have expertise in working with SQL Server, MongoDB, Redis, and Cosmos DB, optimizing
                            queries and
                            designing efficient
                            database schemas.
                        </p>
                        <p>I am skilled in database indexing, caching strategies, and performance tuning to ensure
                            high-speed
                            data access.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Security & Authentication -->
            <div class="col-md-6">
                <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">Security & Authentication</h3>
                            </div>
                            <img src="images/services/security.svg" width="48" height="48"
                                 alt="Security & Authentication"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">

                        <p>I have experience implementing JWT, OAuth 2.0, and OpenID Connect for secure authentication
                            and
                            authorization.</p>
                        <p>I ensure
                            secure API communication by following best practices in encryption, identity management, and
                            role-based access control
                            (RBAC).
                        </p>
                    </div>
                </div>
            </div>

            <!-- Cloud & DevOps -->
            <div class="col-md-6">
                <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">Cloud & DevOps</h3>
                            </div>
                            <img src="images/services/azure.svg" width="48" height="48" alt="Cloud & DevOps"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">

                        <p>I have hands-on experience with Azure DevOps, CI/CD Pipelines, and Infrastructure as Code
                            (Bicep)
                            to automate
                            and optimize software delivery.
                        </p>
                        <p>My cloud expertise includes Azure Kubernetes Service (AKS), Azure Functions, Cosmos DB,
                            and Azure Service Bus, enabling scalable and cloud-native applications.
                        </p>
                        <p>I am also skilled in Docker & Kubernetes
                            orchestration, ensuring efficient containerized deployment.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Microservices & Messaging -->
            <div class="col-md-6">
                <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">Microservices & Messaging</h3>
                            </div>
                            <img src="images/services/microservies.svg" width="48" height="48"
                                 alt="Microservices & Messaging"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">

                        <p>I have worked extensively on event-driven architecture using RabbitMQ, and Azure Service Bus,
                            implementing
                            reliable messaging between microservices.
                        </p>
                        <p>My experience includes service discovery (Consul, API Gateway), distributed
                            tracing (OpenTelemetry), and fault-tolerant communication for scalable distributed systems.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Software Architecture & Best Practices -->
            <div class="col-md-6">
                <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">Software Architecture & Best Practices</h3>
                            </div>
                            <img src="images/services/architecture.svg" width="48" height="48"
                                 alt="Software Architecture & Best Practices"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">

                        <p>I have a strong understanding of software design principles, including SOLID, Clean Code, and
                            Domain-Driven Design
                            (DDD).
                        </p>
                        <p>I have experience implementing CQRS, Event Sourcing, and Hexagonal Architecture to build
                            scalable
                            and
                            maintainable applications.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Testing & Quality Assurance -->
            <div class="col-md-6">
                <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">Testing & Quality Assurance</h3>
                            </div>
                            <img src="images/services/testing.svg" width="48" height="48"
                                 alt="Testing & Quality Assurance"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">

                        <p>I am skilled in unit testing (XUnit, NUnit), integration testing, and test automation to
                            ensure
                            software reliability.
                        </p>
                        <p> My experience includes mocking frameworks (Moq, FakeItEasy), API testing, and CI/CD test
                            automation for continuous quality assurance.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Agile & Team Collaboration -->
            <div class="col-md-6">
                <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">Agile & Team Collaboration</h3>
                            </div>
                            <img src="images/services/teamwork.svg" width="48" height="48"
                                 alt="Agile & Team Collaboration"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">

                        <p>I have worked in Scrum and Agile environments, using Azure Boards, Jira, and Confluence for
                            project
                            management. </p>
                        <p>I am experienced in collaborating with cross-functional teams, conducting code reviews, and
                            mentoring junior developers to
                            improve overall team efficiency.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private bool _isVisible = true;
    private string _toggleClass = "expanded";

    private void ToggleDiv()
    {
        _isVisible = !_isVisible;
        _toggleClass = _isVisible ? "expanded" : "collapsed";
    }
}