<footer class="pt-4 pb-4 text-center bg-light">
    <div class="container">
        <div class="my-3">
            <div class="h4">Javad Bagheri</div>
            <p>.NET Developer with expertise in Azure DevOps</p>
            <div class="footer-social-nav ">
                <SocialNav></SocialNav>
            </div>
        </div>
        <div class="text-small text-secondary">
            <div class="mb-1">&copy; PERSIAN-CAT. All rights reserved.</div>
        </div>
    </div>
</footer>

@code {

}