<div id="scrolltop">
    <a class="btn btn-secondary" href="#top">
            <span class="icon">
                <i class="fas fa-angle-up fa-x"></i>
            </span>
    </a>
</div>

@code {
    
}